:root {
  --background-color: #0f1117;
  --text-color: #ffffff;
  --active-color: #00d2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* MAIN */
main {
  padding-top: 80px;
}

/* CONTAINER */
.container-custom {
  width: 90%;
  margin: 0 auto;
}


/* MEDIA QUERY */

/** MOBILE */
@media (min-width: 576px) {
  .container-custom {
    max-width: 80%;
  }
}

/** TABLET */
@media (min-width: 992px) {
  .container-custom {
    max-width: 75%;
  }
}

/** DESKTOP */
@media (min-width: 1200px) {
  .container-custom {
    max-width: 80%;
  }
}
